@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap");
:root {
  --btn-blue: #5175ff;
  --btn-hover: #829cff;
  --dark-background-color: #25293a;
  --dark-text: #333950;
  --gray-text: #747b95;
  --white: #ffff;
  --error-color: #f05b5b;
  --cyan-color: #e4eaff;
  --cyan-hover: #d3dcff;
  font-family: "Kumbh Sans", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
}
body {
  background-color: #f2f2f2;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}

.wrapper {
  overflow: hidden;
  position: relative;
}

.container {
  max-width: 1200px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 0 auto;
}

.bg {
  background: url(/starter-code/assets/home/bg-pattern-header.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: -11.5rem;
  width: 458px;
  height: 458px;
  z-index: -1;
}

.bg-singup {
  position: absolute;
  background: url(/starter-code/assets/home/bg-pattern-header.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  top: -11.5rem;
  left: -5rem;
  right: -5rem;
  width: 458px;
  height: 458px;
  margin: 0 auto;
  z-index: -1;
}

.information {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  text-align: center;
}

.information__img {
  margin-top: 3rem;
  width: 200px;
}
.information__header {
  font-size: 2rem;
  color: var(--dark-text);
  margin-bottom: 2rem;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
}

.information__text {
  color: var(--gray-text);
  margin-bottom: 3rem;
}
.btn {
  border-radius: 30px;
  color: var(--white);
  background-color: var(--btn-blue);
  padding: 1rem 2rem;
  font-weight: 700;
  border: 0px;
  transition: 0.3s;
}

.btn:hover {
  background-color: var(--btn-hover);
}

.btn__white {
  border-radius: 30px;
  color: var(--btn-blue);
  background-color: var(--white);
  padding: 1rem 2rem;
  transition: 0.3s;
  font-weight: 700;
}
.btn__white:hover {
  color: var(--btn-hover);
}

.btn__cyan {
  border-radius: 30px;
  color: var(--btn-blue);
  background-color: var(--cyan-color);
  padding: 1rem 2rem;
  transition: 0.3s;
  font-weight: 700;
}

.btn__cyan:hover {
  background-color: var(--cyan-hover);
}

.blue--card {
  background-color: var(
    --btn-blue
  ) !important; /* Important needed to change the background or else it wont change  */
  background-image: url(/starter-code/assets/home/bg-pattern-pricing.svg);
  background-repeat: no-repeat;
  width: 300px;
  background-position: -16rem -30rem;
}

.cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 5rem;
}

.card {
  padding: 2rem;
  width: 80%;
  margin-bottom: 2rem;
  border-radius: 10px;
  background-color: var(--white);
  margin-top: 2rem;
}

.card__head {
  color: var(--dark-text);
  margin-bottom: 3rem;
}

.card__header {
  font-size: 3rem;
  font-weight: 900;
  margin-top: 1.25rem;
  margin-bottom: 1rem;
}

.card__text {
  color: var(--gray-text);
  mix-blend-mode: normal;
  line-height: 3rem;
  opacity: 0.75;
}

.card__footer {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.text--white {
  color: var(--white);
}
.footer__index {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  background-color: var(--dark-background-color);
  width: 100%;
  height: 1200px;
  z-index: -1;
  background-image: url(/starter-code/assets/home/bg-pattern-footer.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 2000px;
  margin-top: -50rem;
}

.footer__text {
  color: var(--white);
  font-size: 1rem;
  line-height: 48px;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin-bottom: 2rem;
}

.footer__text--span {
  color: var(--btn-blue);
}
.black {
  color: var(--dark-text);
}
.footer__cards {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
  gap: 10px;
}

.footer__card {
  background-color: var(--dark-text);
  padding: 1rem;
  border-radius: 10px;
  margin-bottom: 2rem;
  font-weight: 900;
  font-size: 1rem;
  color: var(--white);
  text-transform: lowercase;
}

.footer--white {
  background-color: var(--cyan-color);
  color: var(--btn-blue);
}

.footer-parag {
  font-size: 0.75rem;
  color: var(--gray-text);
}

.m {
  margin-bottom: 4rem;
}

.form__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
  border-radius: 10px;
  margin: 0 auto;
  max-width: 455px;
  position: relative;
  margin-top: 4rem;
}

.form__input {
  padding: 1rem calc(2rem + 5%);
  border: 0;
  margin-top: 1rem;
  outline: 0;
  border-bottom: 1px solid var(--gray-text);
  mix-blend-mode: normal;
  color: var(--dark-text);

  opacity: 0.5;
}

.form__input:last-of-type {
  margin-bottom: 2rem;
}

.btn--big {
  width: 250px;
  margin-bottom: 2rem;
}

.footer__singup {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  background-color: var(--dark-background-color);
  width: 100%;
  height: 500px;
  margin-top: -20rem;
  z-index: -1;
  background-image: url(/starter-code/assets/home/bg-pattern-footer.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1500px;
}

.select-box {
  display: flex;
  width: calc(15rem + 10%);
  flex-direction: column;
  border-bottom: 1px solid #979797;
  margin: 0 auto;
}

.select-box .options-container {
  margin-top: 4rem;
  background: var(--white);
  position: absolute;
  color: black;
  z-index: 2;
  max-height: 0;
  width: calc(15rem + 10%);
  opacity: 0;
  transition: all 0.4s;
  border: 1px solid rgba(51, 57, 80, 0.153273);
  box-shadow: 0px 50px 50px -25px rgba(75, 92, 154, 0.747077);
  border-radius: 8px;
  border-radius: 8px;
  overflow: hidden;
  order: 1;
}
.gray {
  color: var(--gray-text);
  font-weight: 900;
  padding-left: 0.5rem;
}

.option__text {
  color: var(--dark-background-color);
  font-weight: 900;
}

.option {
  border-bottom: 1px solid var(--gray-text);
}

.option:last-of-type {
  border: 0;
}

.selected {
  background: var(--white);
  border-radius: 8px;
  color: black;
  position: relative;
  margin-top: 1rem;
  order: 0;
}

.selected::after {
  content: "";
  background: url("/starter-code/assets/sign-up/icon-arrow-down.svg");
  background-repeat: no-repeat;
  position: absolute;
  height: 32%;
  width: 2rem;
  right: 0rem;
  top: 1rem;
  transition: all 0.4s;
}

.select-box .options-container.active + .selected::after {
  transform: rotateX(180deg);
  top: 0.75rem;
}

.select-box .options-container.active {
  max-height: 240px;
  opacity: 1;
}

.select-box .option,
.selected {
  padding: 12px 24px;
  cursor: pointer;
}

.select-box .option:hover {
  background-image: url(/starter-code/assets/sign-up/icon-check.svg);
  background-repeat: no-repeat;
  background-position: 95%;
}

.select-box label {
  cursor: pointer;
}

.select-box .option .radio {
  display: none;
}

@media screen and (min-width: 768px) {
  .footer__card {
    font-size: 2rem;
  }
  .footer-parag {
    font-size: 1rem;
  }
  .information__body {
    width: 80%;
  }
  .footer__text {
    margin-bottom: 1rem;
  }
  header {
    justify-content: flex-start;
    padding: 2rem;
  }
  .bg-singup {
    background: none;
  }
  .bg {
    left: calc(15rem + 25%);
    top: -10rem;
    width: 700px;
    height: 700px;
  }
  .index--information {
    flex-direction: row;
    text-align: start;
    justify-content: space-between;
    padding: 2rem;
  }
  .information__img {
    width: 300px;
  }
  .index--body {
    width: 50%;
  }
  .logo {
    width: 200px;
  }

  .card__body {
    display: grid;
    grid-template-areas:
      "head body"
      "footer .";
    align-items: flex-end;
    justify-content: space-between;
    padding: 0rem 2rem 0rem 2rem;
  }
  .card {
  }
  .card {
    max-width: 689px;
  }
  .card__head {
    text-align: start;

    grid-area: head;
    margin-bottom: 1rem;
  }
  .card__text {
    text-align: start;
    grid-area: body;
  }
  .card__footer {
    grid-area: footer;
  }

  .footer__index {
    margin-top: -36rem;
    height: 1000px;
  }
}

@media screen and (min-width: 1440px) {
  .singup__container {
    z-index: 2;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 90vh;
  }
  header {
    padding: 0rem;
  }
  .logo {
    width: 250px;
  }
  .footer__singup {
    margin-top: 0;
  }
  .form__container {
    width: 455px;
  }

  .information__img {
    width: 500px;
  }
  .information__header {
    font-size: 56px;
  }

  .cards {
    flex-direction: row;
  }
  .card {
    margin-top: 0;
    margin: 1rem;
    height: 425px;
  }
  .card__head {
    text-align: center;
    margin-bottom: 2rem;
  }
  .card__header {
    font-weight: 700;
    font-size: 56px;
  }
  .card__text {
    text-align: center;
  }
  .card__footer {
    text-align: center;
  }

  .card__body {
    grid-template-areas:
      "head"
      "body"
      "footer";
    justify-content: center;
  }

  .footer__index {
    height: 700px;
    margin-top: -18rem;
  }

  .information--singup {
    align-items: flex-start;
    text-align: start;
  }

  .footer__cards {
    justify-content: flex-start;
  }

  .footer__singup {
    position: absolute;
    right: 0;
    top: 0;
    width: 30vw;
    height: 100vw;
  }

  .bg {
    left: calc(35rem + 25%);
    top: -25rem;
    width: 1000px;
    height: 1000px;
  }
}
